<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mredrock.cyxbs" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.mredrock.cyxbs.io.request.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.LaunchActivity"
            android:theme="@style/LaunchTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.BaseActivity"
            android:label="BaseActivity" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.PortalActivity"
            android:label="@string/title_activity_portal" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.BoardActivity"
            android:label="@string/title_activity_board" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.AroundActivity"
            android:label="@string/title_activity_around" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.WhatToEatActivity"
            android:label="@string/title_activity_what_to_eat" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.BBSActivity"
            android:label="@string/title_activity_bbs" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.ClassTalkActivity"
            android:label="@string/title_activity_class_talk" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.SecretActivity"
            android:label="@string/title_activity_secret" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.NewsContentActivity"
            android:label="@string/title_activity_news_content" >
        </activity>
        <activity
            android:name="com.mredrock.cyxbs.ui.activity.BaseToolBarActivity"
            android:label="@string/title_activity_base_tool_bar" >
        </activity>
    </application>

</manifest>
